<h1 style="text-align:center;font-weight:bold;color:blue">Aubergine Covid Data Project</h1>

<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a routerLink="" routerLinkActive="active"><b>Home</b></a></li>
      <li><a routerLink="/user-sign-up" routerLinkActive="active"><b>User Sign Up</b></a></li>
      <li><a routerLink="/covid" routerLinkActive="active"><b>Covid Data</b></a></li>
    </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>